<!-- HEADER -->
<header id="masthead" class="header" role="banner">

	<a class="menu-toggle toggle-link"></a>

	<h1 class="site-title mobile-title">JACK ALLEN</h1>

	<!-- header-wrap -->
	<div class="header-wrap">

		<img src="images/site/avatar.jpg" alt="avatar">

		<h1 class="site-title">JACK ALLEN</h1>

		<!-- NAV MENU -->
		<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
			<div class="nav-menu">
				<ul>

					<!-- InstanceBeginEditable name="Menu-Content" -->
					<li>
						<a href="index.html#/home">
							<i class="pe-7s-home"></i>Home</a>
					</li>
					<li>
						<a href="index.html#/about">
							<i class="pe-7s-user"></i>About Me</a>
					</li>
					<li>
						<a href="index.html#/resume">
							<i class="pe-7s-id"></i>Resume</a>
					</li>
					<li>
						<a href="index.html#/portfolio">
							<i class="pe-7s-glasses"></i>Portfolio</a>
					</li>
					<li>
						<a href="index.html#/blog">
							<i class="pe-7s-notebook"></i>Blog</a>
					</li>
					<li>
						<a href="index.html#/contact">
							<i class="pe-7s-call"></i>Contact</a>
					</li>


					<!-- InstanceEndEditable -->

				</ul>
			</div>
		</nav>
		<!-- NAV MENU -->



		<!-- SEARCH -->
		<div class="header-search">
			<form role="search" method="get" id="search-form" action="#">
				<input type="text" value="" name="s" id="search" placeholder="enter word">
				<input type="submit" id="search-submit" title="Search" value="→">
			</form>
		</div>
		<!-- SEARCH -->

		<!-- header-bottom -->
		<div class="header-bottom">

			<!-- SOCIAL -->
			<ul class="social">
				<li>
					<a class="facebook" href="index.html#"></a>
				</li>
				<li>
					<a class="twitter" href="index.html#"></a>
				</li>
				<li>
					<a class="linkedin" href="index.html#"></a>
				</li>
				<li>
					<a class="instagram" href="index.html#"></a>
				</li>
			</ul>
			<!-- SOCIAL -->

			<!-- copy-text -->
			<div class="copy-text">
				<p>&copy; 2015 Pixelwars</p>
			</div>
			<!-- copy-text -->

		</div>
		<!-- header-bottom -->


	</div>
	<!-- header-wrap -->

</header>
<!-- HEADER -->
