<!-- HEADER -->
<header id="masthead" class="header" role="banner">
	<a class="menu-toggle toggle-link"></a>
	<h1 class="site-title mobile-title">LONG NGUYEN</h1>

	<!-- header-wrap -->
	<div class="header-wrap">
		<img src="images/site/avatar.jpg" alt="avatar">
		<h1 class="site-title">LONG NGUYEN</h1>

		<!-- NAV MENU -->
		<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
			<div class="nav-menu">
				<ul>
					<!-- InstanceBeginEditable name="Menu-Content" -->
					<li>
						<a href="/#/home"><i class="pe-7s-home"></i>Home</a>
					</li>
					<li>
						<a href="/#/about"><i class="pe-7s-user"></i>About Me</a>
					</li>
					<li>
						<a href="/#/resume"><i class="pe-7s-id"></i>Resume</a>
					</li>
					<li>
						<a href="/#/portfolio"><i class="pe-7s-display1"></i>Portfolio</a>
					</li>
{{!-- 					<li>
						<a href="/#/blog"><i class="pe-7s-notebook"></i>Blog</a>
					</li> --}}
					<li>
						<a href="/#/contact"><i class="pe-7s-mail-open-file"></i>Contact</a>
					</li>
					<!-- InstanceEndEditable -->
				</ul>
			</div>
		</nav>
		<!-- NAV MENU -->

		<!-- SEARCH -->
		<div class="header-search">
			<form role="search" method="get" id="search-form" action="#">
				<input type="text" value="" name="s" id="search" placeholder="enter word">
				<input type="submit" id="search-submit" title="Search" value="→">
			</form>
		</div>
		<!-- SEARCH -->

		<!-- header-bottom -->
		<div class="header-bottom">
			<!-- SOCIAL -->
			<ul class="social">
				<li>
					<a class="github" target="_blank" href="https://github.com/longseespace"></a>
				</li>
				<li>
					<a class="twitter" target="_blank" href="https://twitter.com/longseespace"></a>
				</li>
				<li>
					<a class="linkedin" target="_blank" href="https://linkedin.com/in/longnguyenhai"></a>
				</li>
			</ul>
			<!-- SOCIAL -->

			<!-- copy-text -->
			<div class="copy-text">
				<p>&copy; 2017 Nomad React</p>
			</div>
			<!-- copy-text -->

		</div>
		<!-- header-bottom -->


	</div>
	<!-- header-wrap -->

</header>
<!-- HEADER -->
