<!-- PAGE : RESUME -->
<section id="resume" class="pt-page page-layout">
	<!-- .content -->
	<div class="content">
		<!-- .layout-medium -->
		<div class="layout-medium">

			<!-- page-title -->
			<h1 class="page-title">
          <i class="pe-7s-id"></i>resume
      </h1>
			<!-- page-title -->


			<!-- row -->
			<div class="row">


				<!-- col -->
				<div class="col-sm-7">


					<div class="event">
						<h2>WORK HISTORY</h2>
						<p>
							<i class="pe-7s-ribbon"></i>
						</p>
					</div>

					<div class="event">
						<h3>Apr 2016 - Jul 2016</h3>
						<h4>Senior Software Engineer</h4>
						<h5>Arimo Inc.</h5>
					</div>


					<div class="event">
						<h3>Jan 2013 - Mar 2016</h3>
						<h4>Senior Software Engineer</h4>
						<h5>SeeSpace Ltd.</h5>
					</div>

					<div class="event">
						<h3>Feb 2012 - Jan 2013</h3>
						<h4>Full Stack Web Developer</h4>
						<h5>Dynabyte JSC.</h5>
					</div>

					<div class="event">
						<h3>Feb 2010 - Jan 2011</h3>
						<h4>Junior Web Developer</h4>
						<h5>esoftflow Ltd.</h5>
					</div>

					<div class="event">
						<h2>EDUCATION</h2>
						<p>
							<i class="pe-7s-study"></i>
						</p>
					</div>

					<div class="event">
						<h3>2017</h3>
						<h4>Computer Science</h4>
						<h5>Hanoi University of Science and Technology</h5>
					</div>


					<div class="event">
						<h3>2014</h3>
						<h4>Computer Science</h4>
						<h5>HUS High School for Gifted Student</h5>
					</div>

					<p><a href="/resume.pdf" class="button"><i class="pe-7s-download"></i>Download Resume</a></p>

				</div>
				<!-- col -->




				<!-- col -->
				<div class="col-sm-5">


					<!-- section-title -->
					<div class="section-title center">
						<h2>
                <i>technical skills</i>
            </h2>
					</div>
					<!-- section-title -->


					<!-- .skill-unit -->
					<div class="skill-unit">
						<h4>HTML5 &amp; CSS3</h4>
						<div class="bar" data-percent="100">
							<div class="progress"></div>
						</div>
					</div>
					<!-- .skill-unit -->

					<!-- .skill-unit -->
					<div class="skill-unit">
						<h4>Wordpress</h4>
						<div class="bar" data-percent="100">
							<div class="progress"></div>
						</div>
					</div>
					<!-- .skill-unit -->

					<!-- .skill-unit -->
					<div class="skill-unit">
						<h4>React.js</h4>
						<div class="bar" data-percent="100">
							<div class="progress"></div>
						</div>
					</div>
					<!-- .skill-unit -->

					<!-- .skill-unit -->
					<div class="skill-unit">
						<h4>React Native</h4>
						<div class="bar" data-percent="80">
							<div class="progress"></div>
						</div>
					</div>
					<!-- .skill-unit -->


					<!-- section-title -->
					<div class="section-title center">
						<h2>
                <i>design skills</i>
            </h2>
					</div>
					<!-- section-title -->

					<!-- .skill-unit -->
					<div class="skill-unit">
						<h4>Pixelmator</h4>
						<div class="bar" data-percent="60">
							<div class="progress"></div>
						</div>
					</div>
					<!-- .skill-unit -->

					<!-- .skill-unit -->
					<div class="skill-unit">
						<h4>Sketch</h4>
						<div class="bar" data-percent="60">
							<div class="progress"></div>
						</div>
					</div>
					<!-- .skill-unit -->

					<!-- .skill-unit -->
					<div class="skill-unit">
						<h4>Photoshop</h4>
						<div class="bar" data-percent="50">
							<div class="progress"></div>
						</div>
					</div>
					<!-- .skill-unit -->



					<!-- section-title -->
					<div class="section-title center">
						<h2>
                <i>TESTIMONIALS</i>
            </h2>
					</div>
					<!-- section-title -->


					<!-- Testimonial -->
					<div class="testo">
						<img src="images/site/testo-01.jpg" alt="Giannis S.">
						<h4>Giannis S.</h4>
						<h5>Athens, GR</h5>
						<p>Very proffessional work from Long! Delivered very quickly and took the time to explain everything in details. I will definately work with him again!</p>

					</div>
					<!-- Testimonial -->

					<!-- Testimonial -->
					<div class="testo">
						<img src="images/site/testo-02.jpg" alt="Martin K.">
						<h4>Martin K.</h4>
						<h5>Craigavon, GB</h5>
						<p>Long, from Nomad React is one of the best freelancers I have worked with. He is knowledgeable, efficient and responsive. I would highly recommend him.</p>

					</div>
					<!-- Testimonial -->

					<!-- Testimonial -->
					<div class="testo">
						<img src="images/site/testo-03.jpg" alt="Ben A.">
						<h4>Ben A.</h4>
						<h5>Scunthorpe, GB</h5>
						<p>Excellent freelancer. Great Worpress developer, will use again!</p>
					</div>
					<!-- Testimonial -->


				</div>
				<!-- col -->


			</div>
			<!-- row -->


		</div>
		<!-- .layout-medium -->
	</div>
	<!-- .content -->
</section>
<!-- PAGE : RESUME -->
