<!-- PAGE : HOME -->
<section id="home" class="pt-page page-layout light-text home-section has-bg-img" style="background-image:url('images/site/home.jpg')">
	<!-- .content -->
	<div class="content">
		<!-- .layout-medium -->
		<div class="layout-medium">

			<h4>Hi, I am</h4>
			<h2>Jack Allen</h2>
			<h4>I am <strong id="typist-element" data-typist="a blogger., a wordpress lover., an adventurer.">a writer.</strong></h4>

		</div>
		<!-- .layout-medium -->
	</div>
	<!-- .content -->
</section>
<!-- PAGE : HOME -->
