<!-- PAGE : PORTFOLIO -->
	<section id="portfolio" class="pt-page page-layout portfolio">
		<!-- .content -->
		<div class="content">
			<!-- .layout-medium -->
			<div class="layout-medium">


				<!-- page-title -->
				<h1 class="page-title">
        	<i class="pe-7s-glasses"></i>my works
        </h1>
				<!-- page-title -->



				<!-- PORTFOLIO -->
				<div class="portfolio-items media-grid masonry" data-layout="masonry" data-item-width="340">



					<!-- portfolio-item -->
					<div class="media-cell illustration hentry">

						<div class="media-box">
							<img src="images/portfolio/01.jpg" alt="portfolio-post">
							<div class="mask"></div>
							<a href="images/portfolio/full-01.jpg" title="myflix" class="lightbox"></a>
						</div>

						<div class="media-cell-desc">
							<h3>myflix</h3>
							<p class="category">a personalized movie streaming app</p>
						</div>

					</div>
					<!-- portfolio-item -->


					<!-- portfolio-item -->
					<div class="media-cell media hentry">

						<div class="media-box">
							<img src="images/portfolio/02.jpg" alt="portfolio-post">
							<div class="mask"></div>
							<a href="images/portfolio/full-02.jpg" title="Monitors" class="lightbox"></a>
							<a href="images/portfolio/full-02b.jpg" title="Email Confirmation" class="lightbox"></a>
							<a href="images/portfolio/full-02a.jpg" title="Website Latency" class="lightbox"></a>
							<a href="images/portfolio/full-02c.jpg" title="Website Ping History" class="lightbox"></a>
						</div>

						<div class="media-cell-desc">
							<h3>statusboard</h3>
							<p class="category">website uptime monitoring</p>
						</div>

					</div>
					<!-- portfolio-item -->


					<!-- portfolio-item - lightbox url -->
					<div class="media-cell illustration url hentry">

						<div class="media-box">
							<img src="images/portfolio/03.jpg" alt="portfolio-post">
							<div class="mask"></div>
							<a href="https://github.com/longseespace/diy-checkout" target="_blank"></a>
						</div>

						<div class="media-cell-desc">
							<h3>One-page Checkout</h3>
							<p class="category">coin-style one-page checkout</p>
						</div>

					</div>
					<!-- portfolio-item - lightbox video -->


					<!-- portfolio-item - lightbox image -->
					<div class="media-cell media hentry">
						<div class="media-box">
							<img src="images/portfolio/04.jpg" alt="portfolio-post">
							<div class="mask"></div>
							<!-- lightbox - image -->
							<a href="images/portfolio/full-04.jpg" title="ig9.vn: Vietnamese crowdfunding platform" class="lightbox"></a>
							<!-- lightbox - image -->
						</div>
						<div class="media-cell-desc">
							<h3>ig9</h3>
							<p class="category">crowdfunding platform</p>
						</div>
					</div>
					<!-- portfolio-item - lightbox image -->


					<!-- portfolio-item - lightbox soundcloud -->
					<div class="media-cell illustration media hentry">
						<div class="media-box">
							<img src="images/portfolio/05.jpg" alt="portfolio-post">
							<div class="mask"></div>
							<!-- lightbox - image -->
							<a href="images/portfolio/full-05.jpg" title="The Affects Deparment" class="lightbox"></a>
							<!-- lightbox - image -->
						</div>
						<div class="media-cell-desc">
							<h3>The Affects Deparment</h3>
							<p class="category">WordPress theme customization</p>
						</div>
					</div>
					<!-- portfolio-item - lightbox soundcloud -->


					<!-- portfolio-item - lightbox gallery -->
					<div class="media-cell media hentry">
						<div class="media-box">
							<img src="images/portfolio/06.jpg" alt="portfolio-post">
							<div class="mask"></div>
							<!-- lightbox - gallery -->
							<a href="images/portfolio/full-06.jpg" title="TMW Inc." class="lightbox"></a>
							<!-- lightbox - gallery -->
						</div>
						<div class="media-cell-desc">
							<h3>TMW Inc.</h3>
							<p class="category">WordPress website development</p>
						</div>
					</div>
					<!-- portfolio-item - lightbox gallery -->


					<!-- portfolio-item - custom url -->
					<div class="media-cell media hentry">
						<div class="media-box">
							<img src="images/portfolio/07.jpg" alt="portfolio-post">
							<div class="mask"></div>
							<a href="images/portfolio/full-07.jpg" title="paul+pris" class="lightbox"></a>
						</div>
						<div class="media-cell-desc">
							<h3>paul+pris</h3>
							<p class="category">WordPress website development</p>
						</div>
					</div>
					<!-- portfolio-item - custom url -->


				</div>
				<!-- PORTFOLIO -->



			</div>
			<!-- .layout-medium -->
		</div>
		<!-- .content -->
	</section>
	<!-- PAGE : PORTFOLIO -->
