{{> head }}
<body>
  <!-- PAGE -->
	<div id="page" class="hfeed site">
    {{> header }}
    <!-- .site-main -->
		<div id="main" class="site-main">{{{ body }}}</div>
  </div>
  {{> misc }}
  {{> scripts }}
</body>
</html>
